{# This page is for browsing seekers #}

{% extends "base.html" %}

{% block app_content %}

{% for seeker in seeker_profiles %}
<div class="card mb-3">
    <div class="row g-0 ">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
<!--            <i class="fas fa-smile fa-5x"></i>-->
            <div class="avatar-container">
                <img src="{{ seeker._user.avatar(96) }}" style="filter:saturate(0%);">
                <div class="avatar-overlay">
                    <span>{{ seeker.first_name[0].upper() + seeker.last_name[0].upper() }}</span>
                </div>
            </div>
        </div>
<!--        https://stackoverflow.com/questions/26148740/how-to-add-text-over-the-image-in-bootstrap-->
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ seeker.full_name }}</h5>
                {% for line in seeker.tag_lines %}
                {{ line }}<br/>
                {% endfor%}
                <p class="card-text"><small class="text-muted">{{ seeker.location }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor%}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ dprev }}">
            <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in range(plwr, pupr+1) %}
        <li class="page-item {{ 'active' if i == page else '' }}">
            <a class="page-link" href="{{ url_for('main.seeker_search', page=i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        <li class="page-item  {{ dnext }}">
            <a class="page-link" href="{{ next_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .avatar-container{
      position: relative;
      display: inline-block;
    }

    .avatar-overlay span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #000;
      font-size: 70px;
      font-family: monospace;
      filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 3px white);
    }
</style>
{% endblock %}