
{% extends "base.html" %}

{% block app_content %}

	<link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
	<script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <title>Admin Dashboard</title>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();

  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function myFunction2() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();

  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function myFunction3() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput3");
  filter = input.value.toUpperCase();

  table = document.getElementById("myTable3");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function myFunction4() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput4");
  filter = input.value.toUpperCase();

  table = document.getElementById("myTable4");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function myFunction5() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput5");
  filter = input.value.toUpperCase();

  table = document.getElementById("myTable5");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



<!--	<div class="User_Banner">-->

<!--           <img src="companyLogo.png" alt="Comapny Logo" width="100" height="200" align="left">-->

<!--           <img class="imgone" src="user.png" alt="User Logo" align="right">-->
<!--         <div>-->
<!--           <p class="pone" align="right" style="font-size:150%;">Welcome {{name}}, to your dashboard! </p>-->
<!--         </div>-->
<!--	<div style="clear:both"></div>-->
<!--	</div>-->

<div class="main_left">
  <div class="medium-4 columns" style="background-color:#f1f1f1;">
    <ul class="side-nav">
      <li><a href="admin/dashboard.html?data_type=seeker_Data" target="rightFrame1">Seeker_Data</a></li>
      <li><a href="admin/dashboard.html?data_type=company_Data" target="rightFrame2">Company_Data</a></li>
      <li><a href="admin/dashboard.html?data_type=skill_Data" target="rightFrame3">Skill_Data</a></li>
      <li><a href="admin/dashboard.html?data_type=attitute_Data" target="rightFrame4">Attitute_Data</a></li>
      <li><a href="admin/dashboard.html?data_type=jobpost_Data" target="rightFrame5">Jobpost_Data</a></li>

    </ul>
  </div>



<div class="medium-8 columns">
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Seeker names...">
	<table id="myTable">
	  <tr class="header">
	    <th style="width:20%;">Seeker_NAME</th>
	    <th style="width:20%;">Seeker_ID</th>
	    <th style="width:20%;">City</th>
	    <th style="width:20%;">State</th>
		  <th style="width:20%;">Work_wanted</th>
	    <th style="width:40%;">Remote_wanted</th>
		  <th style="width:20%;">Phone</th>
	  </tr>
		{% for dataseeker in dataseekers|sort(attribute='user_id') %}
		  <tr>
			<td>{{ dataseeker.last_name + ',' + dataseeker.first_name }}</td>
			<td>{{ dataseeker.user_id }}</td>
			<td>{{ dataseeker.city }}</td>
			<td>{{ dataseeker.state }}</td>
			<td>{{ dataseeker.Work_wanted }}</td>
			  <td>{{ dataseeker.remote_wanted }}</td>
			  <td>{{ dataseeker.phone_number }}</td>
		  </tr>
		{% endfor %}
	</table>


	<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for Company names...">
		<table id="myTable2">
	  <tr class="header">
	    <th style="width:20%;">company_NAME</th>
	    <th style="width:20%;">company_ID</th>
	    <th style="width:20%;">city</th>
	    <th style="width:20%;">state</th>
		  <th style="width:20%;">website</th>
	    <th style="width:40%;">tageline</th>

	  </tr>
		{% for datacompany in datacompanies|sort(attribute='user_id') %}
		  <tr>
			<td>{{ datacompany.name }}</td>
			<td>{{ datacompany.user_id }}</td>
			<td>{{ datacompany.city }}</td>
			<td>{{ datacompany.state }}</td>
			<td>{{ datacompany.website }}</td>
			  <td>{{ datacompany.tagline }}</td>
		  </tr>
		{% endfor %}
	</table>


	<input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Search for Skill title...">
	<table id="myTable3">
	  <tr class="header">
	    <th style="width:20%;">Skill_TITLE</th>
	    <th style="width:20%;">Skill_ID</th>
	    <th style="width:20%;">Skill_TYPE</th>
	    <th style="width:20%;">Skill_SEEKERS</th>
		  	    <th style="width:20%;">Skill_JOB_POSTS</th>
	  </tr>

		{% for dataskill in dataskills|sort(attribute='id') %}
		  <tr>
			<td>{{ dataskill.title }}</td>
			<td>{{ dataskill.id }}</td>
			  <td>{{ dataskill.type }}</td>
			<td>{{ dataskill._seekers }}</td>
			<td>{{ dataskill._job_posts }}</td>
		  </tr>
		{% endfor %}
	</table>

	<input type="text" id="myInput4" onkeyup="myFunction4()" placeholder="Search for Attitue title...">
	<table id="myTable4">
	  <tr class="header">
	    <th style="width:20%;">Attitue_TITLE</th>
	    <th style="width:20%;">Attitue_ID</th>
	    <th style="width:20%;">Attitude_SEEKERS</th>
	    <th style="width:20%;">Attitude_JOBPOSTS</th>
	  </tr>

		{% for dataattitude in dataattitudes|sort(attribute='id') %}
		  <tr>
			<td>{{ dataattitude.title }}</td>
			<td>{{ dataattitude.id }}</td>
			<td>{{ dataattitude._seekers }}</td>
			<td>{{ dataattitude._job_posts }}</td>
		  </tr>
		{% endfor %}
	</table>

		<input type="text" id="myInput5" onkeyup="myFunction5()" placeholder="Search for Job Post title...">
	<table id="myTable5">
	  <tr class="header">
	    <th style="width:20%;">Jobpost_TITLE</th>
	    <th style="width:20%;">Jobpost_ID</th>
	    <th style="width:20%;">Company_ID</th>
	    <th style="width:20%;">City</th>
		  <th style="width:20%;">State</th>
		  <th style="width:20%;">Is_REMOTE</th>
		  <th style="width:20%;">Salary_MIN</th>
		  <th style="width:20%;">Salary_MAX</th>
		  <th style="width:20%;">Timestamp</th>
		  <th style="width:20%;">Seeker_APPLIED</th>
	  </tr>

		{% for datajobpost in datajobposts|sort(attribute='id') %}
		  <tr>
			<td>{{ datajobpost.job_title }}</td>
			<td>{{ datajobpost.id }}</td>
			<td>{{ datajobpost.company_id }}</td>
			<td>{{ datajobpost.city }}</td>
			  <td>{{ datajobpost.state }}</td>
			  <td>{{ datajobpost.is_remote }}</td>
			  <td>{{ datajobpost.salary_min }}</td>
			  <td>{{ datajobpost.salary_max }}</td>
			  <td>{{ datajobpost.created_timestamp }}</td>
			  <td>{{ datajobpost._seekers_applied }}</td>
		  </tr>
		{% endfor %}
	</table>

</div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 200px;
			background-color: #f1f1f1;
		}


		.special {
		  color: orange;
		  font-weight: bold;
		}


		p.pone
		{
			margin:90px 20px 20px 100px;
		}

		p.two{
			/* 相对于浏览器窗口定位 */
			left: 1240px;     /* 距离浏览器左边100px */
			top: 120px;      /* 距离浏览器上边200px */
		}

		div.one {
			border-style:solid;
			border-color:black;
			border-width:3px;
			margin:20px 100px 20px 50px;
		}

		div.two{
			border-style:solid;
			border-color:black;
			border-width:3px;
			margin:20px 100px 20px 50px;
		}


		img.imgone{
		/* 相对于浏览器窗口定位 */
		margin:25px 50px 20px 100px;
		}

		.button{

			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}

		#myInput, #myInput2, #myInput3, #myInput4, #myInput5 {
		  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
		  background-position: 10px 12px; /* Position the search icon */
		  background-repeat: no-repeat; /* Do not repeat the icon image */
		  width: 100%; /* Full-width */
		  font-size: 16px; /* Increase font-size */
		  padding: 12px 20px 12px 40px; /* Add some padding */
		  border: 1px solid #ddd; /* Add a grey border */
		  margin-bottom: 12px; /* Add some space below the input */
		}

		#myTable , #myTable2 , #myTable3, #myTable4, #myTable5{
		  border-collapse: collapse; /* Collapse borders */
		  width: 100%; /* Full-width */
		  border: 1px solid #ddd; /* Add a grey border */
		  font-size: 18px; /* Increase font-size */
		}

		#myTable th, #myTable td ,#myTable2 th, #myTable2 td, #myTable3 th, #myTable3 td, #myTable4 th, #myTable4 td, #myTable5 th, #myTable5 td{
		  text-align: left; /* Left-align text */
		  padding: 12px; /* Add padding */
		}

		#myTable tr, #myTable2 tr, #myTable3 tr, #myTable5 tr, #myTable4 tr {
		  /* Add a bottom border to all table rows */
		  border-bottom: 1px solid #ddd;
		}

		#myTable tr.header, #myTable tr:hover, #myTable2 tr.header, #myTable2 tr:hover, #myTable3 tr.header, #myTable3 tr:hover, #myTable4 tr.header, #myTable4 tr:hover, #myTable5 tr.header, #myTable5 tr:hover{
		  /* Add a grey background color to the table header and on hover */
		  background-color: #f1f1f1;
		}
	</style>
{% endblock %}