{% extends "base.html" %}
{% from "macros.html" import active_endpoint with context %}


{% block content %}
<div class="d-flex flex-row align-items-stretch">
        <div class="flex-shrink-1 bg-light me-2">
            <div class="mt-5">
                <ul class="nav nav-pills flex-column border">
                    <li class="nav-item">
                        <a class="nav-link {{ active_endpoint('main.stats_overview') }}" href="{{ url_for('main.stats_overview') }}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active_endpoint('main.stats_report') }}" href="{{ url_for('main.stats_report') }}">G-Analytics Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ active_endpoint('main.stats_rankings') }}" href="{{ url_for('main.stats_rankings') }}">Attributes Ranking</a>
                    </li>
                </ul>
            </div>
        </div>
        {{ super() }}
</div>
{% endblock %}
