{% extends "base.html" %}



{% block app_content %}
<h2>Tech Skill relationships by Seeker</h2>
<h6>Full graph may take a long time to load.</h6>
<small>Note to devs: Consider providing an option to filter.</small>
<div id="technetwork"></div>

{% endblock %}


{% block styles %}
{{ super() }}
<style>
    #technetwork {
        width: 85%;
        height: 700px;
        border: 1px solid lightgray;
    }
</style>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script>
    // create an array with nodes
    var nodes = new vis.DataSet(
        {{ nodes_ds|safe }}
    );

    // create an array with edges
    var edges = new vis.DataSet(
        {{ from_to_ds|safe }}
    );

    // create a network
    var container = document.getElementById('technetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        layout: {
            improvedLayout: false
        },
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
{% endblock %}