{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
{% endblock %}


{% block app_content %}
<div id="map"></div>


{% endblock %}




{% block styles %}
{{ super() }}

<style>
    #map { height: 500px; }
</style>
{% endblock %}




{% block scripts %}
{{ super() }}
<script>

    // https://leafletjs.com/reference-1.7.1.html

    var seeker_markers = [
        {% for lat, lng, loc, count in seeker_coords %}
        L.circleMarker([{{ lat }}, {{ lng }}], {
            radius: 5,
            color: '#3388ff',
            title: 'Seeker|{{ loc }}|x' + {{ count }}
        }),
        {% endfor %}
    ];
    var seeker_group = L.layerGroup(seeker_markers);

    var company_markers = [
        {% for lat, lng, loc, count in company_coords %}
        L.circleMarker([{{ lat }}, {{ lng }}], {
            radius: 5,
            color: '#ff3388',
            title: 'Company|{{ loc }}|x' + {{ count }}
        }),
        {% endfor %}
    ];
    var company_group = L.layerGroup(company_markers);

    var job_markers = [
        {% for lat, lng, loc, count in job_coords %}
        L.circleMarker([{{ lat }}, {{ lng }}], {
            radius: 5,
            color: '#ff8833',
            title: 'Job|{{ loc }}|x' + {{ count }}
        }),
        {% endfor %}
    ];
    var job_group = L.layerGroup(job_markers);

    var mapboxUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        mapboxAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    var base_layer = L.tileLayer(mapboxUrl, {attribution: mapboxAttribution}),
        types_layer = L.tileLayer(mapboxUrl, {id: 'map', tileSize: 512, zoomOffset: -1, attribution: mapboxAttribution});

    var map = L.map('map', {
        center: [38.1, -94.65],
        zoom: 4.5,
        layers: [base_layer, types_layer],
        maxBounds: [[15,-25], [75,-190]],
        minZoom: 3,
        maxZoom: 10,
        zoomSnap: 0.5,
        zoomDelta: 0.5,
        wheelPxPerZoomLevel: 120
    });

    var baseMaps = {
        "View": base_layer
    };
    var overlayMaps = {
        "Seekers": seeker_group,
        "Comapanies": company_group,
        "Jobs": job_group
    };
    // add all layers to the map so they're enabled by default
    map.addLayer(seeker_group);
    map.addLayer(company_group);
    map.addLayer(job_group);
    // also add the controls to the layer button
    L.control.layers(baseMaps, overlayMaps).addTo(map);

    // add legend
    // from: https://gis.stackexchange.com/a/133745
    var legend = L.control({position: 'bottomleft'});
    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'px-1 bg-white leaflet-bar');
        var labels = ['<strong>Legend</strong>'];
        var categories = ['Seeker', 'Company', 'Job'];
        var categoryColors = ['#3388ff', '#ff3388', '#ff8833'];
        for (var i = 0; i < categories.length; i++) {
                div.innerHTML +=
                labels.push(
                    '<i class="fas fa-circle" style="color:' + categoryColors[i] + '"></i> '
                    + categories[i]);

            }
            div.innerHTML = labels.join('<br>');
        return div;
    };
    legend.addTo(map);

    // add custom tooltip with location/count information
    var info = L.control({position: 'bottomright'});
    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'px-1 bg-white leaflet-bar');
        this.update();
        return this._div;
    };

    // method that we will use to update the control based on feature properties passed
    info.update = function (props) {
        if (props) {
            // set appearance of a specific node
            var parts = props.options.title.split("|");
            this._div.innerHTML = '<strong style="color: #777">' + parts[0] + ' Info</strong>'
                                    + '<br/><b>' + parts[1] + '</b> - ' + parts[2];
        } else {
            // resetting appearance
            this._div.innerHTML = '<strong style="color: #777">Info</strong>'
                                    + '<br/>Hover over a node';
        }
    };

    function highlightFeature(e) {
        var layer = e.target;
        info.update(layer);
    }

    function resetHighlight(e) {
        info.update();
    }

    seeker_markers.forEach(e => {e.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight
    });});
    company_markers.forEach(e => {e.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight
    });});
    job_markers.forEach(e => {e.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight
    });});
    info.addTo(map);

</script>
{% endblock %}