{% extends "base.html" %}

{% block app_content %}

{# NOTE: 'request' is a global var; shows an edit button when this is the user's profile #}
{% if 'new' in request.path %}
<h1>Create new job post</h1>
{% else %}
<h1>Edit job post</h1>
{% endif %}
<form action="" method="post" class="form" role="form">
    {% for error,msg in form.errors.items() %}
    <div class="alert alert-danger" role="alert">[{{ error }}: {{ msg }}]</div>
    {% endfor %}

    <div class="row">
        <div class="col">
            <h4>Basic information</h4>
            {{ form.hidden_tag() }}
            <div class="form-group required">
                <label class="control-label">Job Title</label>
                {{ form.title(class_="form-control") }}
            </div>
            <br />

            <div class="form-row">
                <label class="control-label">Location</label>
                <div class="input-group">
                    {{ form.city(class_="form-control", placeholder="City") }}
                    <span class="input-group-addon" style="margin-top:5px; margin-left:3px; margin-right:3px;">, </span>
                    {{ form.state(class_="form-control", placeholder="State", style="flex-grow:0.3;") }}
                </div>
            </div>

            <div class="checkbox">
                <label>
                    {{ form.remote }} Remote available
                </label>
            </div>
            <br />

            <div class="form-row">
                <label class="control-label">Salary range</label>
                <span><i class="fas fa-info-circle" style="color:gray;" data-toggle="tooltip"
                        title="Tip #1: You can leave min or max empty to indicate 'up to' or 'at least' salaries."></i></span>
                <span><i class="fas fa-info-circle" style="color:gray;" data-toggle="tooltip"
                        title="Tip #2: You can type 'k' to indicate thousands."></i></span>
                <div class="input-group">
                    <span class="input-group-addon" style="margin-top:5px">$</span>
                    {{ form.salary_min(class_="form-control", placeholder="Min") }}
                    <span class="input-group-addon" style="margin-top:5px; margin-left:4px;"> - $</span>
                    {{ form.salary_max(class_="form-control", placeholder="Max") }}
                </div>
            </div>
            <br />

            <div class="form-group "><label class="control-label">Description</label>
                {{ form.description(class_="form-control") }}
            </div>
            <br />

            <div class="form-group ">
                {{ form.active }} Job is active
            </div>
            <br />

            {{ form.submit(class_="btn btn-primary btn-lg") }}
        </div>
        <div class="col">
            <h4>
                Seeker Attributes
                <i class="fas fa-info-circle" style="color:gray;" data-toggle="tooltip"
                    title="For best matches, add job requirements and their importance level in both categories."></i>
            </h4>
            <div class="row">
                <div class="col form-group">
                    <input type="text" id="skill_selector" placeholder="Search skills...">
                    <ul class="form-control" id="req_skills">

                    </ul>

                </div>
                <div class="col">
                    <input type="text" id="attitude_selector" placeholder="Search attitudes/values...">
                    <ul class="form-control" id="req_attitudes">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>

    var count_skills = 0; // global counters for how many items in the skills list
    var count_attitudes = 0; // global counters for how many items in the att. list

    var skill_lvls = ["Novice", "Familiar", "Competent", "Proficient", "Expert"];
    var importance_lvls = ["Very Low", "Low", "Medium", "High", "Very High"];

    function on_trash_req() {
        // event.target will be the input element.
        var td = event.target.parentNode.parentNode.parentNode;
        var tr = td.parentNode; // the row to be removed
        tr.parentNode.removeChild(tr);
    }

    function new_req(name, is_skill, chosen_skill_lvl, chosen_imp_lvl) {
        // setup default values
        if (!chosen_skill_lvl) {
            chosen_skill_lvl = 0;
        }
        if (!chosen_imp_lvl) {
            chosen_imp_lvl = 0;
        }

        // setup references and ids
        var ul = null;
        var pfx = null; // id reference prefix
        var sfx = null; // id reference suffix
        if (is_skill) {
            ul = document.getElementById("req_skills");
            pfx = "req_skills-" + count_skills;
            sfx = "skill";
            count_skills++;
        } else {
            ul = document.getElementById("req_attitudes");
            pfx = "req_attitudes-" + count_attitudes;
            sfx = "att";
            count_attitudes++;
        }

        // dynamically create new entry.
        // based on code generated from rendering the form with a fixed number
        //  of entries.
        var li = document.createElement("li");
        var tbl = document.createElement("table");
        //tbl.setAttribute("name", pfx);
        tbl.setAttribute("id", pfx);

        // first row displays chosen skill/attitude
        var tr1 = document.createElement("tr");
        var td1 = document.createElement("td");
        var sel1 = document.createElement("select");
        sel1.setAttribute("id", pfx + "-" + sfx);
        sel1.setAttribute("name", pfx + "-" + sfx);
        var opt1 = document.createElement("option");
        opt1.setAttribute("value", name);
        opt1.appendChild(document.createTextNode(name));
        sel1.appendChild(opt1);
        td1.appendChild(sel1);
        /*
        // APPARENTLY CANT CREATE A DIFFERENT ELEMENT TYPE.
        // So just recreated a select with only 1 option.
        var inp1 = document.createElement("input");
        inp1.setAttribute("type", "text");
        inp1.setAttribute("readonly", "");
        inp1.setAttribute("class", "form-control-plaintext");
        inp1.setAttribute("id", pfx + "-" + sfx);
        inp1.setAttribute("value", name);
        td1.appendChild(inp1);
        */
        tr1.appendChild(td1);

        // add icon to second column for deleting this cell
        var td11 = document.createElement("td");
        var i1 = document.createElement("i");
        i1.setAttribute("class", "fas fa-trash invicon");
        i1.setAttribute("style", "margin-left: 75%;");
        i1.setAttribute("onclick", "on_trash_req()");
        td11.appendChild(i1);
        tr1.appendChild(td11);

        // add row to table; move onto next option
        tbl.appendChild(tr1);

        // have row minimum level required (only applicable to skills)
        if (is_skill) {
            var tr2 = document.createElement("tr");
            // header for displaying label
            var th2 = document.createElement("th");
            var lbl2 = document.createElement("label");
            lbl2.setAttribute("for", pfx + "-min_lvl");
            lbl2.appendChild(document.createTextNode("Min. competency required"));
            th2.appendChild(lbl2);
            tr2.appendChild(th2);
            // data col for displaying competency level
            var td2 = document.createElement("td");
            var select2 = document.createElement("select");
            select2.setAttribute("id", pfx + "-min_lvl");
            select2.setAttribute("name", pfx + "-min_lvl");
            for (i = 0; i < 5; i++) {
                var opt2 = document.createElement("option");
                opt2.setAttribute("value", (i + 1).toString());
                if (chosen_skill_lvl == i) {
                    opt2.setAttribute("selected", "");
                }
                opt2.appendChild(document.createTextNode(skill_lvls[i]));
                select2.appendChild(opt2);
            }
            td2.appendChild(select2);
            tr2.appendChild(td2);
            tbl.appendChild(tr2);
        }

        // row for importance level
        var tr3 = document.createElement("tr");
        // header for displaying label
        var th3 = document.createElement("th");
        var lbl3 = document.createElement("label");
        lbl3.setAttribute("for", pfx + "-importance");
        lbl3.appendChild(document.createTextNode("Importance to position"));
        th3.appendChild(lbl3);
        tr3.appendChild(th3);
        // data col for displaying importance level
        var td3 = document.createElement("td");
        var select3 = document.createElement("select");
        select3.setAttribute("id", pfx + "-importance");
        select3.setAttribute("name", pfx + "-importance");
        for (i = 0; i < 5; i++) {
            var opt3 = document.createElement("option");
            opt3.setAttribute("value", (i + 1).toString());
            if (chosen_imp_lvl == i) {
                opt3.setAttribute("selected", "");
            }
            opt3.appendChild(document.createTextNode(importance_lvls[i]));
            select3.appendChild(opt3);
        }
        td3.appendChild(select3);
        tr3.appendChild(td3);
        tbl.appendChild(tr3);

        li.appendChild(tbl);
        ul.appendChild(li);
    }

    var available_skills = {{ skill_list| safe }};
    var available_attitudes = {{ attitude_list| safe}};
    var init_skills_added = {{ init_skills| safe or "null" }};
    var init_attitudes_added = {{ init_attitudes| safe or "null"}};

    $("#skill_selector").autocomplete({
        autoFocus: true,
        source: available_skills,
        select: function (event, ui) {
            new_req(ui.item.label, true);
            document.getElementById('skill_selector').value = '';
            return false;
        },
    });

    $("#attitude_selector").autocomplete({
        autoFocus: true,
        source: available_attitudes,
        select: function (event, ui) {
            new_req(ui.item.label, false);
            document.getElementById('attitude_selector').value = '';
            return false;
        },
    });

    $('#{{ form.salary_min.id }}').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;

        // format number
        $(this).val(function (index, value) {
            // first replace 'k' with extra 0s
            value = value.replace("k", "000");
            return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                ;
        });
    });

    $('#{{ form.salary_max.id }}').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;

        // format number
        $(this).val(function (index, value) {
            // first replace 'k' with extra 0s
            value = value.replace("k", "000");
            return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                ;
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        if (init_skills_added) {
            for (i = 0; i < init_skills_added.length; i++) {
                new_req(init_skills_added[i][0], true, init_skills_added[i][1], init_skills_added[i][2]);
            }
        }
        if (init_attitudes_added) {
            for (i = 0; i < init_attitudes_added.length; i++) {
                new_req(init_attitudes_added[i][0], false, init_attitudes_added[i][1], init_attitudes_added[i][2]);
            }
        }
    });
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .invicon:hover {
        color: red;
    }
</style>
{% endblock %}